name: Node.js CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:


  build:
    
    strategy:
      matrix:
       os: [ubuntu-latest,windows-latest,macos-latest]
       node-version: [18.x, 20.x, 22.x]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Build
        run: npm run build --if-present

      - name: Run Tests
        run: npm test


  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint


  security:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: NPM Audit Security Check
        run: npm audit --audit-level=high



  docker:
    runs-on: ubuntu-latest
    needs: [build, lint, security]

    steps:
      - uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t krutagyakaneria/nodejs_cicd_workflow:${{ github.sha }} .

      - name: Push Docker Image
        run: docker push krutagyakaneria/nodejs_cicd_workflow:${{ github.sha }}


  deploy:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Trigger Deployment
        run: |
          curl -X POST ${{ secrets.DEPLOY_WEBHOOK_URL }}
          echo "Deployment triggered successfully!"
